/*------BACKGROUND STYLE---------*/

body{
    margin: 0;
    padding: 0;
	min-height: 100%;
	margin-bottom: -2rem;
    background-color: #1a0621;
    font-family: Lato, Calibri, sans-serif;
    color: #e7e5eb;
    font-size: 15px;
}

/*---------NAVBAR STYLE---------*/
nav {
    background-color: #e7e5eb;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 3vh 5%;
    overflow: hidden;
    width: 90%;
    font-weight: 300;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
}


nav ul {
    width: fit-content;
    margin: auto;
    list-style-type: none;
}
 
    nav ul li {
        display: inline-block;
        padding: 5px 20px;

/*        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;*/
    }

nav ul li a {
    text-decoration: none;
    color: #1a0621;
}

nav ul li {
/*        color: #1a0621;*/
}

nav > ul > li:hover {
    background-color: rgba(26,6,33, 0.2);
    color: #e7e5eb;
}

i {
    font-size: 3rem;
    padding: 5px;
}

i::before {
    color: rgba(231, 229, 235, 0.9);
}

.icons {
    padding: 15vh 35vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    align-content: center;
}

#gmail {
/*    display: inline-block;*/
    display: flex;
    align-items: center;
    color: color: rgba(231, 229, 235, 0.9);
}

a {
    text-decoration: none;
}

/*------------------------------click to copy*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba(231, 229, 235, 0.4);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*-----------------------------click to copy end*/
 
section {
	width: 100%;
	height: 100vh;
	float: left;
	padding-top: 50px;
}


h1 {
	font-size: 3rem;
    text-align: center;
}

h2 {
	text-align: center;
}

h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer {
	/*background-color: #efefef;*/
	text-align: center;
	padding-top: 0.5rem;
	height: 2rem;
	font-size: 10px;
}

#home {
    padding-top: 30vh;
}

.btn {
	background-color: purple;
	border-color: blue;
}

.flexContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-content: center;
    padding: 0 8vw;
}

.textDisplay {
    border: solid #e7e5eb 2px;
    max-width: 35vw;
    min-width: 150px;
    text-align: center;
    padding: 2rem;
    align-self: space-around;
    margin: 3vh auto;
    line-height: 1.5rem;
}


img {
    max-width: 70vw;
    outline: 3px solid black;
    outline-offset: -2px;
}

.projectImg {
    text-align: center;
}

div.push {
  height: 3rem;
}

#FormInput1 {
	width: 18rem;
}

#FormInput2 {
	max-width: 50rem;
	height: auto;
}